<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/src/style.css">
    <title>Botelleria Las Americas</title>
    
</head>
<body>
    <div class="nav">
        <h1>Las Americas</h1>
        <input id="buscar" type="search" autocomplete="on" placeholder="Busqueda" >
    </div>
    <div id="con">
        <div class="filtro">
            <p class="tipo" id="4">BEBIDAS</p>
            <p class="tipo" id="1">BEBIDAS ENERGETICAS</p>
            <p class="tipo" id="6">CERVEZAS</p>
            <p class="tipo" id="2">PISCOS</p>
            <p class="tipo" id="3">RON</p>
            <p class="tipo" id="5">SNACK</p>
            <p class="tipo" id="7">VODKAS</p>
            
            <button id="boton">BD</button>
        </div>
        <div id="listaProductos">
        </div>
    </div>

    <script src="/web/src/home.js"></script>
</body>
</html>