*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

body{
    background-color: rgb(255, 255, 255);
}

.nav{
    background-color: aliceblue;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h1{
    width: 300px;
    height: 30px;
    margin-left: 30px;

}
input{
    width: 200px;
    height: 30px;
    margin-right: 40px;
}


#con{
    display: flex;
}

#filtro{
    
    background-color:rgb(236, 235, 235) ;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 20px;

}
.cate{
    padding: 3px;
    padding-left: 37px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;

}
.cate:hover{
    background-color: rgba(132, 129, 129, 0.563);
}


#listaProductos{
   
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    width: auto;
    height: auto;
}
.producto{
    width: 210px;
    height:300px;
    margin: 10px;
    background-color: rgb(237, 249, 230);

    display: flex;    
    flex-direction: column;
}
img{
    width: 200px;
    height: 200px;
    margin: 5px;
}

#nombre{
    background-color: rgba(245, 243, 241, 0.698);
    text-align: center;

    
}
#precio{
    font-size: 18px;
    color: red;
    font-weight: bolder;
    text-align: center;
    background-color: rgb(231, 243, 239);
    
    
}
#desc{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    background-color: red;
    padding: 6px;
    border-radius: 100%;
}

.producto:hover{
    background-image:
    linear-gradient(
     rgba(0, 0, 0, 0.5),
     rgba(0, 0, 0, 0.5)
    );
    filter: brightness(0.8);
}
